Repository SOFTENG701G1/Flatmate-Management-System, pull requests merged in 2020-04, with the labels that each got.

#208 Remove unneccessary files and update .gitignore
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  Frontend/frontend/package-lock.json
  LICENSE.md
  WebApiBackend/.idea/.gitignore
  WebApiBackend/WebApiBackend/.gitignore
  WebApiBackend/WebApiBackend/testdb.db
  package-lock.json
Labels: back-end, feature, front-end, refactor

#222 Updated chores model class and DTO
  WebApiBackend/WebApiBackend/Dto/ChoresDTO.cs
  WebApiBackend/WebApiBackend/Dto/UserDTO.cs
  WebApiBackend/WebApiBackend/Model/Chores.cs
  WebApiBackend/WebApiBackendTests/ChoreMapperTest.cs
  WebApiBackend/WebApiBackendTests/Helper/MapperHelper.cs
Labels: back-end, chores

#227 Added chores repository and dummy data
  WebApiBackend/WebApiBackend/Dto/ChoreDTO.cs
  WebApiBackend/WebApiBackend/EF/ChoresRepository.cs
  WebApiBackend/WebApiBackend/Helpers/DevelopmentDatabaseSetup.cs
  WebApiBackend/WebApiBackend/Mappings/ModelToDTOProfile.cs
  WebApiBackend/WebApiBackend/Model/Chore.cs
  WebApiBackend/WebApiBackend/Model/Flat.cs
  WebApiBackend/WebApiBackend/Model/FlatManagementContext.cs
  WebApiBackend/WebApiBackend/Startup.cs
  WebApiBackend/WebApiBackendTests/ChoreMapperTest.cs
  WebApiBackend/WebApiBackendTests/Helper/MapperHelper.cs
Labels: back-end, chores, feature

#237 Feature/#165 change user details
  WebApiBackend/WebApiBackend/Controllers/UserController.cs
  WebApiBackend/WebApiBackend/Dto/EditUserDTO.cs
  WebApiBackend/WebApiBackend/Dto/UserInfoDTO.cs
  WebApiBackend/WebApiBackendTests/UserControllerTest.cs
Labels: back-end, feature, flats

#238 Added chores endpoint to add new chore to database (POST /api/Chores/Flat)
  WebApiBackend/WebApiBackend/Controllers/ChoreController.cs
  WebApiBackend/WebApiBackend/Dto/ChoreDTO.cs
  WebApiBackend/WebApiBackendTests/ChoreControllerTest.cs
Labels: back-end, chores, feature

#245 Replace home page with dashboard
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Components/Navigation.js
Labels: feature, front-end

#261 Rename date -> dateToFormat to stop redefining
  Frontend/frontend/src/Util/Utils.js
Labels: front-end, refactor

#262 Disabled reset password after intially pressed
  Frontend/frontend/package-lock.json
  Frontend/frontend/src/Views/ForgotPassword.js
Labels: feature, flats, front-end

#260 Added API call to delete chores and button on chores page to call this.
  Frontend/frontend/src/Components/Chores.js
  Frontend/frontend/src/Util/APIRequest.js
  WebApiBackend/WebApiBackend/Controllers/ChoreController.cs
Labels: chores, front-end

#267 Feature/266 update payment dto
  Frontend/frontend/src/Components/ViewPayment.js
  WebApiBackend/WebApiBackend/Dto/PaymentDTO.cs
  WebApiBackend/WebApiBackend/Helpers/DevelopmentDatabaseSetup.cs
  WebApiBackend/WebApiBackend/Model/Payment.cs
  WebApiBackend/WebApiBackendTests/PaymentControllerTest.cs
Labels: back-end, front-end

#268 Remove flat member
  Frontend/frontend/src/Components/ConfirmRemoveMember.css
  Frontend/frontend/src/Components/ConfirmRemoveMember.js
  Frontend/frontend/src/Components/MemberTile.js
  Frontend/frontend/src/Components/Members.css
  Frontend/frontend/src/Components/Members.js
  Frontend/frontend/src/Components/UserProfile.js
  Frontend/frontend/src/Components/UserProfileDetails.js
  Frontend/frontend/src/Util/APIRequest.js
Labels: flats, front-end

#270 added basic integration of chores with dashboard
  Frontend/frontend/src/Components/CheckBoxListComponent.js
  Frontend/frontend/src/Components/Dashboard.js
  Frontend/frontend/src/Components/DashboardChores.js
Labels: chores, feature, front-end

#275 Fixed Refresh after User add
  Frontend/frontend/src/Components/AddMember.js
Labels: feature, flats, front-end

#277 Toggle feature added for headers
  Frontend/frontend/src/Components/Payments.css
  Frontend/frontend/src/Components/Payments.js
Labels: back-end, feature, front-end, payments
