Repository SOFTENG701G1/Flatmate-Management-System, pull requests merged in 2020-03, with the labels that each got.

#18 Introducing data model classes
  WebApiBackend/WebApiBackend/Model/Flat.cs
  WebApiBackend/WebApiBackend/Model/Payment.cs
  WebApiBackend/WebApiBackend/Model/Schedule.cs
  WebApiBackend/WebApiBackend/Model/User.cs
Labels: feature

#19 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-update.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#14 Create MIT LICENSE
  LICENSE
Labels: documentation

#24 Created pull request template for project
  .github/pull_request_template.md
Labels: documentation

#26 Removed MyProperty field from Schedule class
  WebApiBackend/WebApiBackend/Model/Schedule.cs
Labels: bug

#20 Create contribution guidelines and code of conduct
  C#-guidelines.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  reactjs-guidelines.md
Labels: documentation

#32 Setup unit testing
  WebApiBackend/WebApiBackend.sln
  WebApiBackend/WebApiBackendTests/UnitTest1.cs
  WebApiBackend/WebApiBackendTests/WebApiBackendTests.csproj
Labels: feature

#36 Feature/#17 initialise data for tests
  WebApiBackend/WebApiBackend/Helpers/DevelopmentDatabaseSetup.cs
Labels: feature

#38 Feature/#22 jwt support
  WebApiBackend/WebApiBackend/Controllers/TestController.cs
  WebApiBackend/WebApiBackend/Controllers/UserController.cs
  WebApiBackend/WebApiBackend/Dto/LoggedInDTO.cs
  WebApiBackend/WebApiBackend/Dto/LoginDTO.cs
  WebApiBackend/WebApiBackend/Helpers/AppSettings.cs
  WebApiBackend/WebApiBackend/Helpers/DevelopmentDatabaseSetup.cs
  WebApiBackend/WebApiBackend/Startup.cs
  WebApiBackend/WebApiBackend/WebApiBackend.csproj
  WebApiBackend/WebApiBackend/appsettings.json
  WebApiBackend/WebApiBackend/testdb.db
Labels: feature

#63 Feature/#61 Added description field to Payment Model
  WebApiBackend/WebApiBackend/Model/Payment.cs
Labels: feature

#64 Feature/#60 setup swagger
  WebApiBackend/WebApiBackend/Startup.cs
  WebApiBackend/WebApiBackend/WebApiBackend.csproj
Labels: feature

#48 Feature/#35 Side Navigation Bar
  Frontend/frontend/package-lock.json
  Frontend/frontend/package.json
  Frontend/frontend/src/App.js
  Frontend/frontend/src/index.css
  Frontend/frontend/src/logo.png
  Frontend/frontend/src/search-icon.png
Labels: feature

#120 Add view of payments page.
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Components/Payments.css
  Frontend/frontend/src/Components/Payments.js
Labels: feature

#122 Feature/59 forget reset password ui
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Views/ForgotPassword.js
  Frontend/frontend/src/Views/Login.css
  Frontend/frontend/src/Views/Login.js
  Frontend/frontend/src/Views/ResetPassword.js
Labels: feature

#145 Feature/#52 provide ability to add new members to flat
  .vscode/launch.json
  .vscode/tasks.json
  Frontend/frontend/.env
  Frontend/frontend/package-lock.json
  Frontend/frontend/package.json
  Frontend/frontend/src/App.css
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Components/AddMember.js
  Frontend/frontend/src/Components/Members.css
  Frontend/frontend/src/Components/Members.js
  package-lock.json
Labels: feature

#147 feature/#50-display-flat-members
  Frontend/frontend/.env
  Frontend/frontend/src/Components/Members.css
  Frontend/frontend/src/Components/Members.js
  Frontend/frontend/src/Components/Navigation.css
  Frontend/frontend/src/Util/APIRequest.js
  WebApiBackend/WebApiBackend/Controllers/FlatController.cs
  WebApiBackend/WebApiBackend/Dto/DisplayMemberDTO.cs
  WebApiBackend/WebApiBackend/WebApiBackend.csproj
  WebApiBackend/WebApiBackend/testdb.db
  WebApiBackend/WebApiBackendTests/FlatControllerTest.cs
Labels: feature

#153 payment unit tests
  WebApiBackend/WebApiBackend/Helpers/DevelopmentDatabaseSetup.cs
  WebApiBackend/WebApiBackendTests/FlatControllerTest.cs
  WebApiBackend/WebApiBackendTests/Helper/MapperHelper.cs
  WebApiBackend/WebApiBackendTests/PaymentControllerTest.cs
  WebApiBackend/WebApiBackendTests/WebApiBackendTests.csproj
Labels: back-end, feature

#158 chores data model
  WebApiBackend/WebApiBackend/Dto/ChoresDTO.cs
  WebApiBackend/WebApiBackend/Mappings/ModelToDTOProfile.cs
  WebApiBackend/WebApiBackend/Model/Chores.cs
  WebApiBackend/WebApiBackend/testdb.db
Labels: back-end, feature

#157 Shifted code to MemberTile Class
  Frontend/frontend/src/Components/MemberTile.js
  Frontend/frontend/src/Components/Members.css
  Frontend/frontend/src/Components/Members.js
Labels: front-end, refactor

#161 Refactor PaymentsController to remove uneccessary query params
  WebApiBackend/WebApiBackend/Controllers/PaymentsController.cs
  WebApiBackend/WebApiBackendTests/PaymentControllerTest.cs
Labels: back-end, refactor

#152 create list payment component
  Frontend/frontend/src/Components/Payments.css
  Frontend/frontend/src/Components/Payments.js
  Frontend/frontend/src/Util/APIRequest.js
Labels: feature, front-end

#163 Provide the ability to create a new flat
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Components/MemberTile.js
  Frontend/frontend/src/Components/Members.css
  Frontend/frontend/src/Components/Members.js
  Frontend/frontend/src/Components/NewFlat.css
  Frontend/frontend/src/Components/NewFlat.js
  Frontend/frontend/src/Util/APIRequest.js
  Frontend/frontend/src/Util/User.js
  WebApiBackend/WebApiBackend/Controllers/FlatController.cs
  WebApiBackend/WebApiBackend/Controllers/UserController.cs
  WebApiBackend/WebApiBackend/Dto/FlatDTO.cs
  WebApiBackend/WebApiBackend/Dto/FlatDto.cs
  WebApiBackend/WebApiBackend/Dto/UserDTO.cs
  WebApiBackend/WebApiBackend/testdb.db
Labels: back-end, feature, front-end

#162 add new member to flat
  WebApiBackend/WebApiBackend/Controllers/FlatController.cs
  WebApiBackend/WebApiBackend/Dto/AddUserToFlatDto.cs
  WebApiBackend/WebApiBackend/Dto/UserDTO.cs
  WebApiBackend/WebApiBackend/Helpers/DevelopmentDatabaseSetup.cs
  WebApiBackend/WebApiBackendTests/FlatControllerTest.cs
Labels: back-end, feature

#168 View Full Person Details
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Components/MemberTile.js
  Frontend/frontend/src/Components/Members.css
  Frontend/frontend/src/Components/Members.js
  Frontend/frontend/src/Components/Navigation.js
  Frontend/frontend/src/Components/UserDetails.css
  Frontend/frontend/src/Components/UserDetails.js
Labels: feature, front-end

#164 Provide ability to reset password if forgotten
  Frontend/frontend/package-lock.json
  Frontend/frontend/package.json
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Util/APIRequest.js
  Frontend/frontend/src/Views/ForgotPassword.js
  Frontend/frontend/src/Views/ResetPassword.js
  WebApiBackend/WebApiBackend/Controllers/UserController.cs
  WebApiBackend/WebApiBackend/Dto/ForgotPassRequestDTO.cs
  WebApiBackend/WebApiBackend/Dto/ForgotPassResponseDTO.cs
  WebApiBackend/WebApiBackend/Dto/ResetPasswordDTO.cs
  WebApiBackend/WebApiBackend/Helpers/DevelopmentDatabaseSetup.cs
  WebApiBackend/WebApiBackend/Model/ResetToken.cs
  WebApiBackend/WebApiBackend/Model/User.cs
  WebApiBackend/WebApiBackend/WebApiBackend.csproj
  WebApiBackend/WebApiBackend/testdb.db
Labels: back-end, feature

#179 BUG FIX: Payments Page crashes for new users.
  Frontend/frontend/src/Components/Payments.js
Labels: bug, front-end

#184 Add payments to dashboard
  Frontend/frontend/package-lock.json
  Frontend/frontend/src/Components/Dashboard.css
  Frontend/frontend/src/Components/Dashboard.js
  Frontend/frontend/src/Components/DashboardPayments.js
  Frontend/frontend/src/Components/PaymentModule.js
  Frontend/frontend/src/Components/Payments.css
  Frontend/frontend/src/Components/Payments.js
Labels: feature, front-end

#202 Fix dashboard having no payments
  Frontend/frontend/src/Components/DashboardPayments.js
Labels: bug, front-end

#203 Remove member from flat
  WebApiBackend/WebApiBackend/Controllers/FlatController.cs
  WebApiBackend/WebApiBackend/Model/FlatManagementContext.cs
  WebApiBackend/WebApiBackend/WebApiBackend.csproj
  WebApiBackend/WebApiBackendTests/FlatControllerTest.cs
Labels: back-end, feature

#204 Bug/#173 compile warnings
  Frontend/frontend/src/App.js
  Frontend/frontend/src/Components/CheckBoxListComponent.js
  Frontend/frontend/src/Components/Chores.js
  Frontend/frontend/src/Components/ChoresTable.js
  Frontend/frontend/src/Components/ChoresUpdateButton.js
  Frontend/frontend/src/Components/MemberTile.js
  Frontend/frontend/src/Components/Navigation.js
  Frontend/frontend/src/Components/NewFlat.js
  Frontend/frontend/src/Components/NewPayment.js
  Frontend/frontend/src/Components/RequireLogin.js
  Frontend/frontend/src/Components/UserDetails.js
  Frontend/frontend/src/Components/ViewPayment.js
  Frontend/frontend/src/Util/APIRequest.js
Labels: bug, front-end

#205 Clean up docs
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/C#-guidelines.md
  docs/reactjs-guidelines.md
Labels: documentation

#206 Remove ResetToken.cs
  WebApiBackend/WebApiBackend/Model/ResetToken.cs
Labels: back-end, refactor

#207 Remove redundant tests
  Frontend/frontend/src/App.test.js
  WebApiBackend/WebApiBackendTests/UnitTest1.cs
Labels: back-end, bug, front-end, refactor
